.container {
    text-align: center;
    margin-top: 23px
    
}

table {
    margin: auto;
}

input {
border-radius: 9px;
    border: 5px solid rgb(36, 70, 36);
    font-size: 34px;
    height: 40px;
    width: 290px;
}

button {
    border-radius: 15px;
        font-size: 27px;
        background: rgb(230, 171, 75);
        width: 67px;
        height: 61px;
        margin: 3px;
        cursor: pointer;
}
.calculator {
    border: 4px solid #13695d;
background-color: rgb(251, 249, 249);
        padding: 23px;
        border-radius: 5px;
        display: inline-block;

}

h1 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
}
.btn{
background-color: rgb(251, 249, 249);
    width: 135px;
    height: 32px;
    font-size: 1rem;
    border-radius: 8px;
}
.btn a {
    text-decoration: none;
}